#editor {
    font-size: 20px;
    white-space: pre-wrap;
    min-height: 400px;
    outline: none;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

#editor.placeholder {
    color: #888 !important;
    font-style: italic !important;
}