.pane {
    width: 100vw;
    height: 100vh;
}

#box {
    padding: 3rem 0;
    font-size: 22px;
    display: flex;
    flex-direction: row;
}

.pane>div {
    outline: none;
    padding-right: 2.5rem;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}


.editor.placeholder {
    color: #888 !important;
    font-style: italic !important;
}

