

.pane {
   width: 100vw;
   height: 100vh;
}
#box {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    font-size: 22px;
}
.pane > div {
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}


.editor.placeholder {
    color: #888 !important;
    font-style: italic !important;
}